In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/processed/aqi_clean.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Bengaluru,2015-03-21,48.59,95.68,3.47,27.00,18.04,28.02,3.89,1.94,52.96,21.33,196.72,NaN,91.0,Satisfactory
1,Bengaluru,2015-03-22,47.38,95.68,2.84,22.39,15.33,23.19,11.29,2.05,71.85,14.97,138.20,NaN,120.0,Moderate
2,Bengaluru,2015-03-23,65.65,95.68,3.10,26.35,17.45,27.76,9.95,6.30,72.84,9.88,100.77,NaN,154.0,Moderate
3,Bengaluru,2015-03-24,60.47,95.68,5.39,29.87,20.88,35.10,1.46,6.07,64.12,5.90,61.48,NaN,119.0,Moderate
4,Bengaluru,2015-03-25,62.56,95.68,3.16,23.57,16.39,27.13,10.05,4.98,82.34,4.53,39.99,NaN,232.0,Poor

In [3]:
features = ["PM2.5", "PM10", "NO2", "SO2", "CO", "O3", "NH3"]
target = "AQI"

X = df[features]
y = df[target]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [5]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(
    n_estimators=200,
    random_state=42
)

In [6]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [7]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [8]:
mae = mean_absolute_error(y_test, y_pred)
print("MAE:", mae)

MAE: 16.970977558210784

In [9]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

RMSE: 27.330469958022533

In [10]:
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

R2 Score: 0.937762093578902

In [11]:
import joblib

joblib.dump(model, "../models/aqi_model.pkl")
print("Model saved in models/aqi_model.pkl")

Model saved in models/aqi_model.pkl